@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*GLOBAL*/
body{
    font-size:15px;
    line-height: 1;
    color:#2c3e50;
}

section{
    z-index: 1;
}

footer{
    z-index: 1;
}

.content-center{
    border-bottom: 1px solid #f1f1f1;
    padding: 50px 0;
}

.content-center-no-border{
    padding: 50px 0;
}

.nunito-regular{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.table {
    margin: auto;
    width: 50% !important; 
 }

 .title-hosting-section5-section6-section7-section8{
    font-family: 'Montserrat','sans-serif';
    font-size:21px;
    font-weight: 400;
    margin-bottom:20px;
}

.button-blue{
    background-color: #288eea;
    border: none;
    color: white;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Montserrat','sans-serif';
    font-size:12px;
    font-weight: 700;
}

.button-white{
    background-color: #fff;
    border:1px solid #000;
    color: #000;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Montserrat','sans-serif';
    font-size:12px;
    font-weight: 700;
}

.button-blue-list-white{
    background-color: rgb(41,148,239);
    border:1px solid #fff;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Montserrat','sans-serif';
    font-size:12px;
    font-weight: 600;
}

.button-blue-list-white-mobile{
    background-color: rgb(41,148,239);
    border:1px solid #fff;
    color: #fff;
    padding: 12px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Montserrat','sans-serif';
    font-size:12px;
    font-weight: 600;
}

.button-blue-list-white-mobile i{
    padding: 0 5px;
}

/*GLOBAL*/

/*NAVBAR*/
header nav ul>li{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.logo-menu{
    padding-top: 15px;
    padding-bottom: 10px;
    height:60px;
}

.logo-desktop{
    max-width: 256px;
}

.btn-header-right{
    line-height: 1;
}

.header-menu-right ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}


.header-menu-right ul li,.header-menu-right ul li a{
    display: block;
    white-space: nowrap;
}

.header-menu-right ul li a:hover{
    color:#288eea !important;
    cursor: pointer;
}

.navbar-nav li a:hover{
    color:#288eea !important;
    cursor: pointer;
}

.nav-outline{
    border:1px solid #EEE7E4;
}


.navbar-niagahoster{
    background-color: #fff !important;
}

#header-mobile{
    display: none;
}

#header-web{
    display: block;
}

/*NAVBAR*/

/*SECTION 1*/

.title-hosting{
    font-family: 'Montserrat','sans-serif';
    font-weight: 800;
    font-size: 36px;
}
.title-content{
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 21px;
}
.title-list{
    list-style-type: none;
    padding: 5px 3px;
}

.title-list li{
    padding: 5px 0;
    font-weight: 300;
    font-size: 15px;
}



.fa-check-circle{
    color:#008F11;
}
/*SECTION 1*/

/*SECTION 2*/

.image-section-2{
    color:#288eea;
}

.title-image-section-center{
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size:15px;
    text-align:center;
}

.title-image-section-2{
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size:15px;
}

/*SECTION 2*/

/*SECTION 3*/

.title-hosting-section3{
    font-family: 'Montserrat','sans-serif';
    font-weight: 800;
    font-size: 18px;
}

.title-hosting-section3-content{
    margin-top:-5px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 18px;
}

/*SECTION 3*/


/*SECTION 4*/

.table-section4-price-package {
    border: 1px solid rgb(245,245,245);
    /* padding:4px 4px; */
}

.table-section4-price-package-blue {
    border: 1px solid rgb(61,150,239);
    /* padding:4px 4px; */
}

.table-section4-price-package p{
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.table-section4-price-package-blue p{
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}


.section4-table-title{
    padding-top :10px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 20px;
}

.section4-table-title-white{
    padding-top :10px;
    padding-bottom: 10px;
    margin-bottom: 0px !important;
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 20px;
}

.section4-table-price-normal{
    text-decoration: line-through;
    padding-top :10px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 18px;
}

.section4-table-price-normal-white{
    text-decoration: line-through;
    padding-top :10px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 18px;
    color:#fff;
}

.rp-bigger{
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 12px;
    position: relative;
    bottom:10px;
}

.rp-bigger-white{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 12px;
    position: relative;
    bottom:10px;
}

.section4-table-price-discount-front{
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 24px;
}

.section4-table-price-discount-front-white{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 24px;
}

.section4-table-price-discount-back{
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 12px;
    position: relative;
    bottom:10px;
}

.section4-table-price-discount-back-white{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 700;
    font-size: 12px;
    position: relative;
    bottom:10px;
}



.month-package{
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 12px;
    position: relative;
}

.text-content-table-section4{
    padding-top: 10px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 14px;
}


.text-content-table-section4-white{
    color:#fff;
    padding-top: 10px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 14px;
}

.text-bold-content-table-section4{
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 14px;
}


.text-bold-content-table-section4-white{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 14px;
}

.table-section4-price-package-blue-first{
    border: 1px solid rgb(17,139,238);
    background-color: rgb(17,139,238);
}

.table-section4-price-package-blue-second{
    border: 1px solid rgb(14,123,222);
    background-color: rgb(14,123,222);
}

#myDiv{
    height: 0;
}

div#myDiv h5{
    clip-path: polygon(12% 11%, 84% 0, 101% 88%, 0% 96%);
    padding : 10px 0px;
    position: relative;
    top: 4px;
    left:-27px;
    bottom:0;
    right:0;
    width:111px;
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 11px;
    background-color: rgb(29, 183, 89);
    transform: rotate(-40deg);
    border-radius: 10px;
    
}

/*SECTION 4*/

/*SECTION 5*/

.little-bottom-border{
    border-bottom: 5px solid #ccc;
    height:50px;
    width:75px;
}
.table-section5 tbody tr th{
    padding: 5px 0px;
    width : 300px;
    text-align: center;
}

#box-section5-mobile{
    display: none;
}

.table-section5{
    border : 1px solid #ccc;
    width:270px;
}

.table-section5 th{
    border-bottom : 1px solid #ccc;
    padding : 2px 25px;
    font-family: 'Montserrat','sans-serif';
    font-size: 14px;
    font-weight: 600;
}

.table-section5 tr:nth-child(even){
    background-color: #f7f7f7;
}

.table-section5 tr:nth-child(odd){
    background-color: #fff;
}



/*SECTION 5*/


/*SECTION 6*/
.image-section6{
    width: 75px;
    height: 75px;
}

.text-section-6 h5{
    font-family: 'Montserrat','sans-serif';
    line-height: 1.2;
    font-weight: 800;
    font-size: 20px;
}

.text-section-6 p{
    font-family: 'Montserrat','sans-serif';
    line-height: 1.2;
    font-weight: 400;
    font-size: 15px;
}
/*SECTION 6*/

/*SECTION 7*/
.title-content-section-7{
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 18px;
}

.title-content-section-7{
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 18px;
}


.title-list-section-7{
    list-style-type: none;
    padding: 5px 0px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 14px;
}

.title-list-section-7 li{
    padding: 5px 0px;
}

.title-content-nb-section7{
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 11px;
}

.image-section7{
    width: 500px;
    height: 300px;
}
/*SECTION 7*/

/*SECTION 8*/
.content-section-8{
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat','sans-serif';
}

/*SECTION 8*/

/*SECTION 9*/
.title-content-section-9-title{
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 25px;
}

.title-content-section-9{
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
}

.image-section9{
    width: 495px;
    height: 300px;
}
/*SECTION 9*/

/*SECTION 10*/
.content-center-no-border-section10{
    margin-top: 20px;
    background-color:rgb(246,246,246);
    /* margin-bottom: 0px; */
}

.title-content-section-10-title{
    padding:25px 0px;
    font-family: 'Montserrat','sans-serif';
    font-weight: 500;
    font-size: 14px;
}

.jssocials-shares{
    display: flex;
    flex-direction: row;
}

.jssocials-share{
    padding: 0px 10px;
}

.fa-twitter-square{
    color:rgb(0,172,237);
    font-size: 35px;
    border-radius: none;
}

.fa-facebook-square{
    color:rgb(59,89,152);
    font-size: 35px;
    border-radius: none;
}

.fa-linkedin-square{
    color:rgb(0,123,182);
    font-size: 35px;
    border-radius: none;
}
.box-content-section10{
    text-align: left;
}

.box-content-socialmedia-icon-section10{
    display: flex;
    justify-content: flex-start;
}

/*SECTION 10*/


/*SECTION 11*/

#section-11-web{
    display: block;
}

#section-11-ipad{
    display: none;
}

#section-11-mobile{
    display: none;
}


.content-center-no-border-section11{
    background-color:rgb(41,148,239);
}

.box-content-section11{
    padding-top: 50px;
    padding-bottom: 45px;
}

.title-content-section-11-title{
    font-family: 'Montserrat','sans-serif';
    font-weight: 300;
    font-size: 25px;
    color:#fff;
    line-height: 1.5;
    border-right:1px solid rgb(44, 167, 250);
}

.title-content-section-11-title span{
    padding : 0 10px;
}

/*SECTION 11*/

/*SECTION 12*/
.content-center-no-border-section12{
    background-color: rgb(51,51,51);
    padding: 50px 0px;
}

.title-content-section12 h5{
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 14px;
    color:rgb(135, 135, 135);
    line-height: 1.5;
}

.content-content-section12{
    padding: 15px 0px
}

.content-content-section12 p{
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 11px;
    color:rgb(180,180,180);
    line-height: 1.5;
}

.content-content-section12 p .footer-links{
    font-family: 'Montserrat','sans-serif';
    font-weight: 600;
    font-size: 11px;
    color:rgb(180,180,180);
    line-height: 1.5;
}

.content-newsletter-section12{
    padding: 15px 0px;
    width: 280px;
    position: relative;
}

.email_newsletter{
    text-align: start;
    margin: 0px;
    padding: 10px;
    width: 100%;
    outline: none;
    height: 40px;
    border-radius: 30px;
}

.btn-newsletter{
    
    position: absolute;
    top: 0;
    border-radius: 30px;
    right: 5px;
    z-index: 2;
    border: none;
    top: 18px;
    height: 35px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
    
}

.title-content-newsletter{
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 12px;
    padding:15px 0px;
    color:rgb(105,105,105);
}


.title-content-newsletter a{
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 12px;
    padding:15px 0px;
    color:rgb(105,105,105);
    text-decoration: underline;
}

.social-media-footer-button{
    width: 40px;
    height: 40px;
    border : 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    background-color: rgb(51,51,51);
    margin-right: 10px;
}

.content-social-media-section12{
    text-align: center;
    padding: 42px 0px;
}

.content-payment-section12{
    margin-top: -20px !important;
}

.content-payment-section12 ul{
    text-align: left;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px !important;
}

.content-payment-section12 ul li{
   padding-right: 5px;
}

.content-payment-section12 ul li img{
    width: 75px;
    height: 75px;
}

.title-content-payment{
    margin-top: -30px !important;
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 12px;
    padding:15px 0px;
    color:rgb(105,105,105);
}

.title-content-payment a{
    text-decoration: underline;
    margin-top: -30px !important;
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 12px;
    padding:15px 0px;
    color:rgb(105,105,105);
}

.line-footer-copyright{
    border-top: 1.5px solid rgb(45,45,45);
    padding: 10px 0
}

.text-copyright{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 11px;
}

.text-copyright p a{
    text-decoration: underline;
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 11px;
}

.text-copyright a{
    color:#fff;
    font-family: 'Montserrat','sans-serif';
    font-weight: 200;
    font-size: 11px;
}

#section12-ipad{
    display: none;
}

#section12-ipad2{
    display: none;
}

#section12-mobile{
    display: none;
}

/*SECTION 12*/

/*responsive*/








@media only screen and (max-width: 895px) {

    /*section 1*/
    .title-list li{
        padding: 2px 0;
        font-weight: 300;
        font-size: 12px;
        line-height: 0.5;
    }
    /*section 1*/
}





@media only screen and (max-width: 900px) {

    /* navbar */

    #header-mobile{
        display: block;
    }
    
    #header-web{
        display: none;
    }

    .nav-title a img{
        padding :0 15px;
        width: 65px;
        height: 65px;
    }

    .nav{
        border:1px solid rgb(231, 238, 234);
        height: 65px;
        background-color:rgb(255,255,255);
        position: fixed;
        top: 0;
        width: 100%;
        z-index:4;
    }


    .nav > #nav-check {
        display: none;
    }
    
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 17px;   
      }

    .header-menu-right{
        position: absolute;
        right: 71px;
        top: 17px;  
    }

    

      .fa-bars{
        padding-top: -5px;
        padding-bottom: 15px;
        padding-left: 5px;
      }

      .fa-bars:hover{
        color : rgb(45,139, 234)
      }
      .nav > .nav-btn > label {
        border-radius: 4px;
        border:1px solid rgb(77, 81, 114);
        display: inline-block;
        width: 46px;
        height: 33px;
        padding: 10px;
      }

      
      
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }

      #dropdown-nav{
          background-color: rgb(77,77, 77);
          width: 100%;
      }

      #dropdown-nav ul{
        padding-left: 5px;
        list-style-type: none;
        background-color: rgb(77,77, 77);
        width: 100%;
      }

      #dropdown-nav ul li{
        font-family: 'Nunito','sans-serif';
        font-weight: 400;
        font-size: 18px;
       padding:5px 0px;
       border-top: 1px solid rgb(86,86,86);
       border-bottom: 1px solid rgb(86,86,86);
     }

     #dropdown-nav ul li{
        color:#999;
        padding:15px 0px;
        border-top: 1px solid rgb(86,86,86);
        border-bottom: 1px solid rgb(86,86,86);
      }
      

     #dropdown-nav ul li a{
        color:#999;
        padding:5px 15px;
      }

      #dropdown-nav ul li a:hover{
        color:#fff;
        padding:5px 15px;
        border-top: 1px solid rgb(86,86,86);
        border-bottom: 1px solid rgb(86,86,86);
        text-decoration: none;
      }

      #dropdown-inside{
          cursor: pointer;
      }

      #dropdown-inside ul{
        padding-left: 15;
        cursor: pointer;
      }

      #dropdown-inside:hover{
        color: #fff;
        padding-left: 15;
        cursor: pointer;
      }




      

    
    /* navbar */

    /*section 5*/
    div#myDiv h5{
        clip-path: none;
        padding : 10px 0px;
        position: relative;
        top: -25px;
        left:-22px;
        bottom:0;
        right:0;
        width:111px;
        color:#fff;
        font-family: 'Montserrat','sans-serif';
        font-weight: 600;
        font-size: 11px;
        background-color: rgb(29, 183, 89);
        transform: rotate(0deg);
        border-radius: 10px;
        
    }

    #box-section5-mobile{
        display: block;
    }

    #box-section5-large{
        display: none;
    }
    /*section 5*/

    /*section 7*/

    .image-section7{
        width: 350px;
        height: 450px;
    }

    /*section 7*/


    /*section 9*/
    .image-section9{
        width: 350px;
        height: 200px;
    }
     /*section 9*/


    /*section 10*/
    .box-content-section10{
        text-align: center !important;
    }

    .box-content-socialmedia-icon-section10{
        display: flex;
        justify-content: center;
        padding-bottom : 25px;
    }
    /*section 10*/

    /*section 11*/
    #section-11-web{
        display: none;
    }

    #section-11-ipad{
        display: block;
        height: 200px;
    }

    #section-11-mobile{
        display: none;
    }

    .title-content-section-11-title{
        border-right: none;
    }

    /*section 11*/

    /*section 12*/

    #section12-web{
        display: none;
    }

    #section12-ipad{
        display: block;
    }
    
    #section12-ipad2{
        display: none;
    }
    
    #section12-mobile{
        display: none;
    }

    .content-payment-section12 ul li{
        padding-right: 0;
    }

    .content-payment-section12{
        height: 65px;
    }

    /*section 12*/


    
}




@media only screen and (min-width: 1000px) and (max-width: 1024px) {

    /*section 4*/
    div#myDiv h5{
        clip-path: polygon(12% 11%, 84% 0, 101% 88%, 0% 96%);
        padding: 10px 0px;
        position: relative;
        top: 4px;
        left: -27px;
        bottom: 0;
        right: 0;
        width: 87px;
        color: #fff;
        font-family: 'Montserrat','sans-serif';
        font-weight: 600;
        font-size: 9px;
        background-color: rgb(29, 183, 89);
        transform: rotate(-40deg);
        border-radius: 10px;
    }
    
    /*section 4*/



    /*section 5*/
    .table-section5{
        width:220px;
    }
    /*section 5*/


    

     /*section 11*/
     #section-11-web{
        display: none;
    }

    #section-11-ipad{
        display: block;
        height: 200px;
    }

    #section-11-mobile{
        display: none;
    }

    .title-content-section-11-title{
        border-right: none;
    }


    /*section 12*/

    #section12-web{
        display: none !important;
    }

    #section12-ipad{
        display: none;
    }
    
    #section12-ipad2{
        display: block;
    }
    
    #section12-mobile{
        display: none;
    }
    
    .content-payment-section12{
        height: 60px;
    }

    .title-content-payment{
        margin-top: 0 !important;
    }


    /*section 12*/
    
}

@media only screen and (min-width: 740px)  and (max-width: 750px) {

    /*section 1*/
    .banner-hosting-section-1 img{
        display: none;
        
    }
    /*section 1*/

    

    /*section 5*/

    div#myDiv h5{
       clip-path: polygon(12% 11%, 84% 0, 101% 88%, 0% 96%);
       padding: 10px 0px;
       position: relative;
       top: 12px;
       left: -25px;
       bottom: 0;
       right: 0;
       width: 111px;
       color: #fff;
       font-family: 'Montserrat','sans-serif';
       font-weight: 600;
       font-size: 11px;
       background-color: rgb(29, 183, 89);
       transform: rotate(-40deg);
       border-radius: 10px;  
   }

   /*section 5*/

    /*section 8*/
    #section8-box{
        display: none;
    }
     /*section 8*/

      /*section 7*/
      .image-section7{
        display: none;
    }
    /*section 7*/

    /*section 8*/
    #section8-box{
        display: none;
    }
     /*section 8*/

    /*section 9*/
    .image-section9{
        display: none;
    }
    /*section 9*/

   
}


@media only screen and (min-width: 667px) and (max-width: 736px) {
     
    /*section 5*/

     div#myDiv h5{
        clip-path: polygon(12% 11%, 84% 0, 101% 88%, 0% 96%);
        padding: 10px 0px;
        position: relative;
        top: 12px;
        left: -25px;
        bottom: 0;
        right: 0;
        width: 111px;
        color: #fff;
        font-family: 'Montserrat','sans-serif';
        font-weight: 600;
        font-size: 11px;
        background-color: rgb(29, 183, 89);
        transform: rotate(-40deg);
        border-radius: 10px;  
    }

    /*section 5*/


     /*section 7*/
     .image-section7{
        display: none;
    }
    /*section 7*/

    /*section 8*/
    #section8-box{
        display: none;
    }
     /*section 8*/

    /*section 9*/
    .image-section9{
        display: none;
    }
    /*section 9*/
}

@media only screen and (min-width: 350px) and (max-width: 420px) {


    /*navbar*/
    #fa-phone{
        display: none;
    }

    #fa-comments{
        display: none;
    }
     /*navbar*/

    /*section 5*/

    div#myDiv h5{
        clip-path: polygon(12% 11%, 84% 0, 101% 88%, 0% 96%);
        padding: 10px 0px;
        position: relative;
        top: 12px;
        left: -25px;
        bottom: 0;
        right: 0;
        width: 111px;
        color: #fff;
        font-family: 'Montserrat','sans-serif';
        font-weight: 600;
        font-size: 11px;
        background-color: rgb(29, 183, 89);
        transform: rotate(-40deg);
        border-radius: 10px;  
    }

    .table-section5-first{
        padding : 5px 0px;
    }

    .table-section5-second{
        padding : 5px 0px;
    }

    #box-section5-mobile{
        display: block;
    }

    #box-section5-large{
        display: none;
    }
    /*section 5*/

     /*section 7*/
     .image-section7{
        display: none;
    }
    /*section 7*/


     /*section 8*/
     #section8-box{
        display: none;
    }
     /*section 8*/

     /*section 9*/
    .image-section9{
        display: none;
    }
     /*section 9*/



      /*section 10*/
    .box-content-section10{
        text-align: center !important;
    }

    .box-content-socialmedia-icon-section10{
        display: flex;
        justify-content: center;
        padding-bottom : 25px;
    }
     /*section 10*/

     /*section 11*/
     #section-11-web{
        display: none;
    }
    
    #section-11-ipad{
        display: none;
    }
    
    #section-11-mobile{
        display: block;
    }

    .title-content-section-11-title{
        border-right: none;
    }

     /*section 11*/

     /*section 12*/

    #section12-web{
        display: none;
    }

    #section12-ipad{
        display: none;
    }
    
    #section12-ipad2{
        display: none;
    }
    
    #section12-mobile{
        display: block;
    }

    .content-payment-section12{
        margin-top: -43px;
        height: 65px;
    }


    
    .content-payment-section12 ul li img {
        width: 65px;
        height: 75px;
    }

    .content-newsletter-section12 {
       margin: 0 auto;
    }

    .title-content-payment{
        margin: 0 auto;
        padding-top:40px;
        width: 375px;
    }

    .content-payment-section12 ul li{
        padding-right: 0;
    }



    /*section 12*/

    
}









/*responsive*/

